.ChatBubble_Container {
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    color: #242424;
    text-align: left;
    margin-bottom: 1em;
    padding: 0 2em;
    border-radius: 10px;
}

.ChatBubble_From {
    margin-bottom: 0;
}

.ChatBubble_Text {
}
